@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
   background: #c8c8f1;

}





.mainApp{
margin: 0 auto;
display: block;
margin-top: 30px;
padding-top: 30px;


 }

.App-header {
padding-left: 70px;
padding-right: 70px;


}


h1 {

  text-align: center;
  padding-top: 3px;
  color: #575757;
  font-family: 'Josefin Sans', sans-serif;
 margin-bottom:0;

}

p.simply{

  text-align: center;
  padding-top: 13px;
  color: #575757;
  font-family: 'Josefin Sans', sans-serif;
 font-size: 18px;

}



.app_footer{
  text-align:center;
  margin:50px;

}

.becreative_img{
  max-width: 160px;
  float:left;
}

