@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('http://fonts.cdnfonts.com/css/good-unicorn');


body{
   background: rgba(250, 248, 245, 0.82);

   /* #c8c8f1; */

}



h1{
 
  font-size: 120px;
  text-align: left;
  padding-top: 3px;
  color: #575757;
  font-family: 'Josefin Sans', sans-serif;
 margin-bottom:0;
}



.mainApp{
 
 
  margin-top: 3px;
/* margin: 0; */
/* display: block; */
/* margin-top: 30px;
padding-top: 30px; */


 }
/* 
.App-header {
padding-left: 70px;
padding-right: 70px;


} */




h2{
  padding-bottom: 20px;
}

p.simply{

  text-align: left;
  padding-top: 13px;
  color: #575757;
  font-family: 'Josefin Sans', sans-serif;
 font-size: 18px;

}



.app_footer{
  text-align:center;
  margin:50px;

}

.becreative_img{
  max-width: 160px;
  float:left;
}

.logo{
  width: 188px;
  float: right !important;
  
  transform: rotate(-17deg);
  
   position: -webkit-sticky; 
  position: sticky;
 
  
}

.success{
  width: 188px;
  float: right !important;
  
  transform: rotate(-17deg);
  top:500px;
   position: -webkit-sticky; 
  position: sticky;
  display: none;
 
  
}

.bear {
   
   position: -webkit-sticky; 
  position: sticky;
   bottom: 1rem;
  align-self: flex-end;
}

 .bear:hover .success {
        display: inline;
        top:500px;
    }

     .bear:hover .logo{
        display: none;
        top:500px;
    }


