@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");

form {
  margin: 0 auto;

  font-size: 20px;
  margin-top: 30px;
}
.galery {
  margin-left: 0;
}

.credits {
  padding-left: 5%;
  text-shadow: 1px -1px 1px #fff, 1px 1px 1px #000;
  display: flex;
  flex-direction: column;
  box-shadow: #c9c8c8af -3px 3px 6px 0px,
    rgb(255 255 255 / 38%) -3px -3px 6px 1px;
  border-top: none;
  border-right: none;
  border-bottom: none;

  align-items: center;

  position: fixed;
  top: 0;
  right: 4%;
  height: 100vh;
}

.input-field:focus {
  outline: none;
}
.alyona {
  color: rebeccapurple;
  text-decoration: none;
}

.titleDictio {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  flex-direction: column;
  color: #575757;
  opacity: 0.3;

  font-size: 35px;
  font-family: "Nova Mono", monospace;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight: 500;
}

.reactLogo {
  width: 73px;
  opacity: 0.4;
  margin-top: 20px;
  animation-name: spin;
  animation-duration: 20000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-field {
  border: none;
  margin-left: 34px;
  background: rgba(250, 248, 245, 0.82);
  box-shadow: #c9c8c8af 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.379) -3px -3px 6px 1px inset;

  width: 190px;

  color: #575757;

  border-bottom-left-radius: 25px;
  padding: 8px;
}

/* .buttonSearch{
    border: none;
    border-top-right-radius: 25px;
    padding: 8px;
     color: #868686;
font-family: 'Josefin Sans', sans-serif;
padding-top: 11px;
padding-bottom: 6px;
 

} */

.Dictionary section {
  display: block;
  padding: 14px;
  max-width: 90%;
  margin-top: 24px;
  background: rgba(250, 248, 245, 0.82);
  padding-bottom: 9px;
  padding-top: 26px;
  border-bottom-left-radius: 25px;
  box-shadow: #c9c8c8af -3px 3px 6px 0px,
    rgba(255, 255, 255, 0.379) -3px -3px 6px 1px;
  margin-left: 34px;
  /* box-shadow: 1px 6px 10px 5px rgba(0 0 255 /10%); */
  float: left;

  line-height: 1, 7em;

  margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
  .credits {
    position: fixed;
    top: 0;
    right: 2%;

    border-left: 0;
    margin-left: 7px;
    margin-right: 20px;
  }

  .titleDictio {
    font-size: 25px;
  }

  .galery {
    display: none;
  }

  .Dictionary section {
    margin-left: 13px;
  }

  .col-6 {
    width: 100%;
  }

  p.simply {
    font-size: 21px;
    max-width: 450px;
  }
}

@media only screen and (max-width: 400px) {
  .credits {
    position: fixed;
    top: 0;

    height: 100vh;
    box-shadow: none;
    border: none;
    margin-left: 20px;
    padding-left: 20px;
    margin-top: 20px;
  }

  .titleDictio {
    font-size: 20px;
    padding-right: 3px;
    margin-left: 10px !important;
  }

  .Dictionary section {
    margin-left: 0 !important;
    width: 100%;
  }
  .galery {
    display: none;
  }
  p.simply {
    display: none;
  }

  .col-6 {
    width: 100%;
  }

  .reactLogo {
    width: 53px;
  }
}
