form {
margin: 0 auto;

font-size: 20px;




}
.buttonSearch{
    border: none;
    border-top-right-radius: 25px;
    padding: 8px;
     color: #868686;
font-family: 'Josefin Sans', sans-serif;
padding-top: 11px;
padding-bottom: 6px;
 


}

.Dictionary section {
display: block;
    background: white;
    padding: 29px;
    border-bottom-left-radius: 25px;
    margin: 0 auto;
     box-shadow: 1px 6px 10px 5px rgba(0 0 255 /10%);
     max-width: 76%;
     margin-bottom: 30px;
     line-height: 1,7em;
     
}

/* .input-section{
    display: block !important;
    margin: 0 auto !important;
} */
  
      input {
          width:300px;
  
     
        background-color: white;
        border: none;
        color: #575757;
    /* width: 80%; */
    border-bottom-left-radius: 25px;
        padding: 8px;
        
    
    
      }
      .flex {
   display: flex;
   flex-direction: row;
}
      
     