

.Phonetic{
    height: 40px;
    float: left;
    margin-right: 20px;
   
}

.Audio-button{
    font-size: 22px;
    color: rebeccapurple;
    opacity: 0.7;
     border: 1px solid #ddd;
     padding: 6px 10px;
    border-radius: 20px; 
    transition: all 200ms ease-in-out;
    float: left;
cursor: pointer;

}

.Phonetic a{
    border: 1px solid #ddd;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    color:rebeccapurple;
    transition: all 200ms ease-in-out;
    font-size: 15px;
    margin-right: 10px;
    font-weight: 500;


}

.Audio-button:hover {
    background-color: plum;
    color: white;
}

.Phonetic .text{
    opacity:0.4;
     font-weight: bold;
     padding-left: 12px;
   
}